app-details ion-content {
  --background: var(--ion-item-background);
}

app-details ion-content ion-item {
  color: var(--ion-item-text);
  --background: var(--ion-item-background);
  --border-color: var(--ion-item-border);
}

app-details ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}
