anime-genres {
  h2 {
    font-size: 24px;
  }
  ion-chip.chip {
    background-color: #eaa000;
    color: white;
    margin-right: 2px;
  }

  @media screen and (max-width: 740px) {
    h2 {
      font-size: 18px;
    }
  }
}
