anime-characters h2 {
  font-size: 24px;
}
anime-characters ion-item .item .item-inner p {
  font-size: 18px;
}
@media screen and (max-width: 740px) {
  anime-characters h2 {
    font-size: 18px;
 }
  anime-characters ion-item .item .item-inner p {
    font-size: 18px;
 }
}

.character-modal ion-content .content-top {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.character-modal ion-content .content-top .content-info {
  width: 100%;
  font-size: 16px;
  padding-left: 25px;
}
.character-modal h1 {
  font-size: 24px;
}
.character-modal p {
  font-size: 18px;
}
@media screen and (max-width: 740px) {
  .character-modal h1 {
    font-size: 18px;
 }
  .character-modal p {
    margin: 0;
    font-size: 16px;
 }
}

.character-modal ion-content {
  --background: var(--ion-item-background);
}

.character-modal h1, p {
  color: var(--ion-item-text);
}
