app-home {
  ion-toolbar {
    .toolbar-background {
      background-color: #eaa000;
    }

    .toolbar-content {
      ion-title {
        .toolbar-title {
          color: white;
        }
      }
    }

    .submit-button {
      position: absolute;
      left: -9999px;
      width: 1px;
      height: 1px;
    }
  }

  ion-scroll {
    padding: 15px;

    .no-data-text {
      display: flex;
      justify-content: center;
      margin-top: 50%;
      font-style: italic;
    }
  }
}
