app-settings ion-content {
    --background: var(--ion-item-background);
}

app-settings ion-content ion-item {
    color: var(--ion-item-text);
    --background: var(--ion-item-background);
    --border-color: var(--ion-item-border);
}

app-settings ion-content ion-toggle {
    --handle-background-checked: var(--ion-item-toggle);
}