app-favorites ion-content {
  --background: var(--ion-item-background);
}

app-favorites ion-content ion-item {
  color: var(--ion-item-text);
  --background: var(--ion-item-background);
  --border-color: var(--ion-item-border);
}

app-favorites ion-content ion-item.no-items {
  --border-style: none;
  --padding-start: 0;
}

app-favorites ion-content ion-item.no-items p {
  text-align: center;
  width: 80%;
  margin: auto;
}

app-favorites ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}
