anime-info .anime-info-section {
  display: flex;
  flex-direction: column;
}
anime-info .anime-info-section .anime-info-row .left-section {
  font-size: 18px;
  float: left;
}
anime-info .anime-info-section .anime-info-row .right-section {
  font-size: 18px;
  float: right;
}
@media screen and (max-width: 740px) {
  anime-info .anime-info-section .anime-info-row .left-section {
    font-size: 16px;
 }
  anime-info .anime-info-section .anime-info-row .right-section {
    font-size: 16px;
 }
}

anime-info h1,p {
  color: var(--ion-item-text);
}
